<!DOCTYPE HTML>

<html lang="en">
<head>

  <link rel="stylesheet" href="/css/style.css" type="text/css">
  <!--
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://fonts.google.com/?selection.family=Indie+Flower" type="text/css">
  -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Mike's Game of Zombies</title>
</head>

<body>
  <div class="container-fluid">

    <a href="https://github.com/MikeHathaway/Zombie-game"><h1 class="link-container red">Welcome to Zombieville<h1></a>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/20/Usa_edcp_location_map.svg/300px-Usa_edcp_location_map.svg.png" class="img-responsive" style="width:1000px;height:500px;">
    <div class="row background">
      <form>
        <div class="col-xs-4">
          <button type="submit">Start Game</button>
        </div>
        <div class="col-xs-4">
          <input type="text" placeholder="Number of generations" required>
        </div>
        <div class="col-xs-4">
          <input type="text" placeholder="Percent starting as Zombies" required>
        </div>
        Initatlize Conditions
      </form>
    </div>
    <canvas id="c" width="400" height="400"> </canvas>
  </div>

    <script>
      var c = document.querySelector("#c");
      var ctx = c.getContext("2d");

      //playing around objects
      ctx.fillStyle = "green";
      ctx.fillRect(200,200,50,50);



  /* Holdover for Udacity canvas class
      var image = new Image();

      image.onload = function(){
        console.log("Loaded image");
        ctx.drawImage(image,150,150,50,50);
      }

      image.src = "2000px-Map_of_USA.svg.png";
  */
    </script>
</body>

</html>
