<!DOCTYPE HTML>

<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>WELCOME TO ZOMBIEVILLE</title>
</head>
<body>
  <h1>Howdy Dern<h2>
  <canvas id="c" width="200" height="200"> </canvas>
  <script>
    var c = document.querySelector("#c");
    var ctx = c.getContext("2d");
    ctx.fillStyle = "green";
    ctx.fillRect(0,0,50,50);
    ctx.fillStyle = "red";
    ctx.fillRect(50,50,50,50);
    ctx.fillStyle = "blue";
    ctx.fillRect(100,100,50,50);



    var image = new Image();

    image.onload = function(){
      console.log("Loaded image");
      ctx.drawImage(image,50,50,c.width,c.height);
    }

    image.src = "2000px-Map_of_USA.svg.png";

  </script>
</body>
</html>
