<!DOCTYPE HTML>

<html lang="en">
<head>

  <script src='/app/Zombieville.js' type="text/javascript">
  //let ominousWarning = function(){
  //  alert('And so it begins...');
  //}

   </script>


  <link rel="stylesheet" href="/css/style.css" type="text/css">
  <!--
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://fonts.google.com/?selection.family=Indie+Flower" type="text/css">
  -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Mike's Game of Zombies</title>
</head>

<body onload="ominousWarning()">
  <div class="container-fluid">

    <a href="https://github.com/MikeHathaway/Zombie-game"><h1 class="link-container">Welcome to Zombieville<h1></a>
    <canvas class="canvas-outline" id="c" width="1800" height="1170"> </canvas>

    <div class="background">
      <p>Rules</p>
      <ol>1:</ol>
      <ol>2:</ol>
      <ol>3:</ol>
    </div>

    <div class="row background">
      <p>Initalize Conditions</p>
      <form>
        <div class="col-xs-4 red">
          <button onclick="ominousWarning()" type="button">Start Game</button>
        </div><!--
        <div class="col-xs-4">
          <input type="text" placeholder="Number of generations" required>
        </div>
        <div class="col-xs-4">
          <input type="text" placeholder="Percent starting as Zombies" required>
        </div> -->
      </form>
    </div>
  </div>

<!--
      var c = document.querySelector("#c");
      var ctx = c.getContext("2d");


-->
</body>

</html>
