@import url(https://fonts.googleapis.com/css?family=Nosifer);


p {
  color: red;
}

ol {
  color: red;
}

body {
  color: red;
  font-family: 'Nosifer', serif;
  background-image: url('../images/USA.jpg');
  background-size: contain;
  background-repeat: no-repeat;
}

button {
  border: 2px;
}

.canvas-outline{
  border-color: red;
  border-width: 3px;
  border-style: solid;
}

.red{
  color: red;
}

.blue{
  color: blue;
}

.background{
  background-color: black;
}

.link-container a:hover {
    background: #f8f8f8;
}

a:link { color: #000000; text-decoration: none}
a:visited { color: #000000; text-decoration: none}
a:hover { color: #3366CC; text-decoration: none}
a:active { color: #000000; text-decoration: none}
